@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;


}
body {
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    background-color: var(--Off-white);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img, picture {
    max-width: 100%;
    display: block;
}
img {
    object-fit: cover;
}

a {
    text-decoration: none;
    font-family: inherit;
}
li {
    list-style-type: none;
}

main {
    max-width: 110rem;
    padding: 8rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem 3rem;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / -1;
}
.bright-future {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
}
.web-3-pic {
    grid-column: 1 / -1;
}
h1 {
    font-size: 5.5rem;
    color: var(--Very-dark-blue);
    font-weight: 800;
}

.desc {
    line-height: 2.6rem;
    color: var(--Dark-grayish-blue);
}
.title-desc-div {
    display: grid;
}
.read-btn {
    align-self: flex-end;
    background-color: var(--Soft-red);
    color: var(--Off-white);
    max-width: 15rem;
    text-align: center;
    padding: 1rem 3rem;
}

aside {
    grid-column: 1 / -1;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 3.5rem;
}
.nav-list a {
    color: var(--Very-dark-blue);
}
.nav-list a:hover {
    color: var(--Soft-red);
}







/* .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); } */